.object {
  animation: MoveUpDown 2s linear infinite;
  position: relative;
  background-color: #000000;
  margin-top: 50;
  cursor: pointer;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: -10px;
  }
  50% {
    bottom: 13px;
  }
}

.srvsBtn:hover {
  border: 1px solid white;
  transition: background 0.5s;
  background-color: white;
  color: #bdd030;
}

.portfolioBtn:hover {
  background: rgb(255, 255, 255);
  transition: background 0.5s;
  color: #bdd030;
}

.service1:hover {
  background-image: url("https://www.arpatech.com/img/about/ser1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service2:hover {
  background-image: url("https://www.arpatech.com/img/about/ser2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service3:hover {
  background-image: url("https://www.arpatech.com/img/about/ser3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service4:hover {
  background-image: url("https://www.arpatech.com/img/about/ser4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service5:hover {
  background-image: url("https://www.arpatech.com/img/about/ser5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service6:hover {
  background-image: url("https://www.arpatech.com/img/about/ser6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service7:hover {
  background-image: url("https://www.arpatech.com/img/about/ser7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service8:hover {
  background-image: url("https://www.arpatech.com/img/about/ser8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service9:hover {
  background-image: url("https://www.arpatech.com/img/about/ser9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service10:hover {
  background-image: url("https://www.arpatech.com/img/about/ser10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service11:hover {
  background-image: url("https://www.arpatech.com/img/about/ser11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}
.service12:hover {
  background-image: url("https://www.arpatech.com/img/about/ser12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
  color: white;
  cursor: pointer;
}

.awardWinningImages:hover {
  transition: transform 0.5s ease;
  transform: scale(1.05);
  z-index: 1;
  height: 200;
  overflow: hidden;
  width: 150;
}

.newsCard:hover {
  background-color: #bdd030;
  color: white;
}

.homeBG {
  background-image: url("../Asset/Images/Smart\ Soft\ Logo\ JPG-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  min-width: 1000px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.home {
  padding-top: 400;
}

.thanks {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0%;
}

.thanks:hover {
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
